---
import '../styles/global.css'
---
<!DOCTYPE html>
<html lang="fr" x-init>
    <head>
        <meta charset="UTF-8" />
        <title>Audit et conseil</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{description}" />
        <link rel="canonical" href="https://tonsite.fr/chemin-de-la-page" />
        <meta name="robots" content="index, follow" />
    </head>
    <body>
        <section class="max-w-screen h-lvh flex flex-col space-y-20 bg-[#000000] text-white py-6 md:py-12 px-8 md:px-14" style="font-family: Ubuntu; font-weight: 600;">
            <h1 class="text-center font-bold text-4xl md:text-7xl ">Bienvenue chez CEE Sud-Ouest</h1>
            <p class="text-2xl text-center tracking-wider leading-relaxed">Nos fabuleuses equipes travaillent activement à la construction de cette page et de ce service ! </p>
            <a target="_blank" href="https://www.linkedin.com/in/anthony-pizzoni-794517233/" class="w-1/2 md:max-w-6xl mx-auto text-center px-8 py-5 bg-violet-600 text-white rounded-xl font-semibold shadow-lg ring-2 ring-offset-2 ring-amber-100 hover:scale-105">Contacter le développeur</a>
            <a href="/" class="w-1/2 max-w-6xl mx-auto text-center px-8 py-5 bg-violet-600 text-white rounded-xl font-semibold shadow-lg ring-2 ring-offset-2 ring-amber-100 hover:scale-105">Revenir à l'accueil</a>
        </section>
    </body>
</html>